@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --color-grey: #444;
  --color-tea-green: #ccfccb;
  --color-lace: #f8f4e3;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  height: auto;
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
}

.buttons.header {
  height: 5%;
  padding-top: 1%;
}
.buttons.footer {
  height: 0%;
  padding: 0;
}

table {
  border: 0px;
  background-color: var(--color-grey);
  padding: 3px;
  border-spacing: 7px;

  opacity: 0;
}
td {
  margin: 5px;
  padding: 2px;
  border-radius: 12px;
  background-color: var(--color-lace);
}
.card-img {
  height: 200;
  width: 200px;
  object-fit: cover;

  border-radius: 12px;
  transition: ease-in 0.5s;
  opacity: 0;
}

.button {
  width: 130px;
  height: 100%;
  background: transparent;
  margin: 0;
  border-radius: 40px;
  font-family: "Quicksand";
  font-weight: 800;
  font-size: 16px;

  outline: 0;

  transition: ease-in 0.25s;
}

#btn-restart {
  opacity: 0;
}

#btn-start {
  opacity: 1;
}

.dark {
  color: var(--color-grey);
  border: 1px solid var(--color-grey);
}

.light {
  color: white;
  border: 1px solid white;
}

.button:hover {
  font-weight: 900;
  transition: ease-in 0.25s;
}

.button.dark:hover {
  background-color: var(--color-grey);
  border: 1px solid var(--color-grey);

  color: white;
}

.button.light:hover {
  background-color: white;
  border: 1px solid white;

  color: var(--color-grey);
}
