body {
  height: 100%;
  width: 100%;
}
.container {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  display: flex;
}
.buttons {
  margin-left: 10px;
  display: flex;
  text-align: center;
}
table {
  border: 1px solid black;
  background-color: #444;
  padding: 3px;

  opacity: 0;
}
td {
  padding: 2px;
  background-color: blanchedalmond;
}
.card-img {
  height: 200;
  width: 200px;
  object-fit: cover;

  transition: ease-in 0.5s;
  opacity: 0;
}
#btn-start {
  width: 100px;
  height: 100px;

  opacity: 1;
}
#btn-restart {
  width: 100px;
  height: 100px;

  opacity: 0;
}
