:root {
  --color-grey: #444;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;
}
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 93%;
}
.buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  height: 7%;
}
table {
  border: 0px;
  background-color: var(--color-grey);
  padding: 3px;
  border-spacing: 7px;

  opacity: 0;
}
td {
  margin: 5px;
  padding: 2px;
  border-radius: 12px;
  background-color: blanchedalmond;
}
.card-img {
  height: 200;
  width: 200px;
  object-fit: cover;

  border-radius: 12px;
  transition: ease-in 0.5s;
  opacity: 0;
}

.button {
  width: 130px;
  height: 50px;
  background: transparent;
  margin: 0;
  border-radius: 21px;

  outline: 0;
}

#btn-restart {
  opacity: 0;
}
#btn-start {
  opacity: 1;
}

.dark {
  color: var(--color-grey);
  border: 1px solid var(--color-grey);

  transition: ease-out 0.3s;
}
.light {
  color: white;
  border: 1px solid white;

  transition: ease-out 0.3s;
}
